* {
  font-family: Helvetica;
}
h1, h2, h3, #brushprice, #frameprice, #paintprice {
  font-weight: bold;
}
h2 {
  color: white;
  font-size: 32px;
}
#brushprice, #frameprice, #paintprice {
  color: blue;
}
#mainheading h1 {
  color: khaki;
  font-size: 100px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  text-align: horizontal;
}
#brushes h2 {
  background-color: mediumspringgreen;
}
#frames  h2 {
  background-color: lightcoral;
}
#paint h2 {
  background-color: skyblue;
}
